$primary-color: #ff6060;

* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: $primary-color;
}

.page-position {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

@mixin banner-img {
  width: 100%;
  height: 190px;
  object-fit: cover;
  border-radius: 20px;
}
